// variaveis --paleta de cores
$c-lilas: rgb(215, 177, 251);
$c-background: rgb(127, 86, 165);
$c-button-active: rgb(124, 66, 178);
$c-claro: rgb(176, 93, 254);
$c-escuro: rgb(79, 24, 131);


body{
    background-color: $c-background;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

section{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.principal-img{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.titulo{
    padding-left: 8px;
}

.content{
    background-color: $c-lilas;
    height: 100%;
    margin: 30px 0;
    border-radius: 5px;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.primeiro{
    background-color: $c-claro;
}
.segundo{
    background-color: $c-escuro;
    color: white;
}

input{
    border: none;
    padding: 10px;
    border-radius: 5px;
}
section button:hover{
    background:$c-button-active;
    color: yellow;
}